Checks: >
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
  -readability-implicit-bool-conversion,
  -readability-function-cognitive-complexity,
